[Unit]
Description=Monitor PrevacMonitor_code_sw
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'while sleep 10; do pgrep -x "/home/code/Development/core/bin/PrevacMonitor_code_sw" || systemctl restart prevacmonitor.service; done'
Restart=always

[Install]
WantedBy=multi-user.target

