[Unit]
Description=Monitor TwisTorrMonitor_code_sw
After=network.target

[Service]
Type=simple
ExecStart=/home/code/Development/core_ba/bin/TwisTorrMonitor_code_sw
Restart=always
RestartSec=10
ExecStop=/bin/kill -SIGTERM $MAINPID
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

